/*********************/
.m0 {
  margin: 0px;
}

.mx0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mt0 {
  margin-top: 0px;
}

.mb0 {
  margin-bottom: 0px;
}

.ml0 {
  margin-left: 0px;
}

.mr0 {
  margin-right: 0px;
}


/*********************/
.m1 {
  margin: 1px;
}

.mx1 {
  margin-left: 1px;
  margin-right: 1px;
}

.my1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mt1 {
  margin-top: 1px;
}

.mb1 {
  margin-bottom: 1px;
}

.ml1 {
  margin-left: 1px;
}

.mr1 {
  margin-right: 1px;
}


/*********************/
.m2 {
  margin: 2px;
}

.mx2 {
  margin-left: 2px;
  margin-right: 2px;
}

.my2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mt2 {
  margin-top: 2px;
}

.mb2 {
  margin-bottom: 2px;
}

.ml2 {
  margin-left: 2px;
}

.mr2 {
  margin-right: 2px;
}


/*********************/
.m3 {
  margin: 3px;
}

.mx3 {
  margin-left: 3px;
  margin-right: 3px;
}

.my3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mt3 {
  margin-top: 3px;
}

.mb3 {
  margin-bottom: 3px;
}

.ml3 {
  margin-left: 3px;
}

.mr3 {
  margin-right: 3px;
}


/*********************/
.m4 {
  margin: 4px;
}

.mx4 {
  margin-left: 4px;
  margin-right: 4px;
}

.my4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mt4 {
  margin-top: 4px;
}

.mb4 {
  margin-bottom: 4px;
}

.ml4 {
  margin-left: 4px;
}

.mr4 {
  margin-right: 4px;
}


/*********************/
.m5 {
  margin: 5px;
}

.mx5 {
  margin-left: 5px;
  margin-right: 5px;
}

.my5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mt5 {
  margin-top: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}


/*********************/
.m6 {
  margin: 6px;
}

.mx6 {
  margin-left: 6px;
  margin-right: 6px;
}

.my6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mt6 {
  margin-top: 6px;
}

.mb6 {
  margin-bottom: 6px;
}

.ml6 {
  margin-left: 6px;
}

.mr6 {
  margin-right: 6px;
}


/*********************/
.m7 {
  margin: 7px;
}

.mx7 {
  margin-left: 7px;
  margin-right: 7px;
}

.my7 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.mt7 {
  margin-top: 7px;
}

.mb7 {
  margin-bottom: 7px;
}

.ml7 {
  margin-left: 7px;
}

.mr7 {
  margin-right: 7px;
}


/*********************/
.m8 {
  margin: 8px;
}

.mx8 {
  margin-left: 8px;
  margin-right: 8px;
}

.my8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mt8 {
  margin-top: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.ml8 {
  margin-left: 8px;
}

.mr8 {
  margin-right: 8px;
}


/*********************/
.m9 {
  margin: 9px;
}

.mx9 {
  margin-left: 9px;
  margin-right: 9px;
}

.my9 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.mt9 {
  margin-top: 9px;
}

.mb9 {
  margin-bottom: 9px;
}

.ml9 {
  margin-left: 9px;
}

.mr9 {
  margin-right: 9px;
}


/*********************/
.m10 {
  margin: 10px;
}

.mx10 {
  margin-left: 10px;
  margin-right: 10px;
}

.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}


/*********************/
.m11 {
  margin: 11px;
}

.mx11 {
  margin-left: 11px;
  margin-right: 11px;
}

.my11 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.mt11 {
  margin-top: 11px;
}

.mb11 {
  margin-bottom: 11px;
}

.ml11 {
  margin-left: 11px;
}

.mr11 {
  margin-right: 11px;
}


/*********************/
.m12 {
  margin: 12px;
}

.mx12 {
  margin-left: 12px;
  margin-right: 12px;
}

.my12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mt12 {
  margin-top: 12px;
}

.mb12 {
  margin-bottom: 12px;
}

.ml12 {
  margin-left: 12px;
}

.mr12 {
  margin-right: 12px;
}


/*********************/
.m13 {
  margin: 13px;
}

.mx13 {
  margin-left: 13px;
  margin-right: 13px;
}

.my13 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.mt13 {
  margin-top: 13px;
}

.mb13 {
  margin-bottom: 13px;
}

.ml13 {
  margin-left: 13px;
}

.mr13 {
  margin-right: 13px;
}


/*********************/
.m14 {
  margin: 14px;
}

.mx14 {
  margin-left: 14px;
  margin-right: 14px;
}

.my14 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.mt14 {
  margin-top: 14px;
}

.mb14 {
  margin-bottom: 14px;
}

.ml14 {
  margin-left: 14px;
}

.mr14 {
  margin-right: 14px;
}


/*********************/
.m15 {
  margin: 15px;
}

.mx15 {
  margin-left: 15px;
  margin-right: 15px;
}

.my15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mt15 {
  margin-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.ml15 {
  margin-left: 15px;
}

.mr15 {
  margin-right: 15px;
}


/*********************/
.m16 {
  margin: 16px;
}

.mx16 {
  margin-left: 16px;
  margin-right: 16px;
}

.my16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mt16 {
  margin-top: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.ml16 {
  margin-left: 16px;
}

.mr16 {
  margin-right: 16px;
}


/*********************/
.m17 {
  margin: 17px;
}

.mx17 {
  margin-left: 17px;
  margin-right: 17px;
}

.my17 {
  margin-top: 17px;
  margin-bottom: 17px;
}

.mt17 {
  margin-top: 17px;
}

.mb17 {
  margin-bottom: 17px;
}

.ml17 {
  margin-left: 17px;
}

.mr17 {
  margin-right: 17px;
}


/*********************/
.m18 {
  margin: 18px;
}

.mx18 {
  margin-left: 18px;
  margin-right: 18px;
}

.my18 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.mt18 {
  margin-top: 18px;
}

.mb18 {
  margin-bottom: 18px;
}

.ml18 {
  margin-left: 18px;
}

.mr18 {
  margin-right: 18px;
}


/*********************/
.m19 {
  margin: 19px;
}

.mx19 {
  margin-left: 19px;
  margin-right: 19px;
}

.my19 {
  margin-top: 19px;
  margin-bottom: 19px;
}

.mt19 {
  margin-top: 19px;
}

.mb19 {
  margin-bottom: 19px;
}

.ml19 {
  margin-left: 19px;
}

.mr19 {
  margin-right: 19px;
}


/*********************/
.m20 {
  margin: 20px;
}

.mx20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}


/*********************/
.m21 {
  margin: 21px;
}

.mx21 {
  margin-left: 21px;
  margin-right: 21px;
}

.my21 {
  margin-top: 21px;
  margin-bottom: 21px;
}

.mt21 {
  margin-top: 21px;
}

.mb21 {
  margin-bottom: 21px;
}

.ml21 {
  margin-left: 21px;
}

.mr21 {
  margin-right: 21px;
}


/*********************/
.m22 {
  margin: 22px;
}

.mx22 {
  margin-left: 22px;
  margin-right: 22px;
}

.my22 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.mt22 {
  margin-top: 22px;
}

.mb22 {
  margin-bottom: 22px;
}

.ml22 {
  margin-left: 22px;
}

.mr22 {
  margin-right: 22px;
}


/*********************/
.m23 {
  margin: 23px;
}

.mx23 {
  margin-left: 23px;
  margin-right: 23px;
}

.my23 {
  margin-top: 23px;
  margin-bottom: 23px;
}

.mt23 {
  margin-top: 23px;
}

.mb23 {
  margin-bottom: 23px;
}

.ml23 {
  margin-left: 23px;
}

.mr23 {
  margin-right: 23px;
}


/*********************/
.m24 {
  margin: 24px;
}

.mx24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mt24 {
  margin-top: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mr24 {
  margin-right: 24px;
}


/*********************/
.m25 {
  margin: 25px;
}

.mx25 {
  margin-left: 25px;
  margin-right: 25px;
}

.my25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mt25 {
  margin-top: 25px;
}

.mb25 {
  margin-bottom: 25px;
}

.ml25 {
  margin-left: 25px;
}

.mr25 {
  margin-right: 25px;
}


/*********************/
.m26 {
  margin: 26px;
}

.mx26 {
  margin-left: 26px;
  margin-right: 26px;
}

.my26 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.mt26 {
  margin-top: 26px;
}

.mb26 {
  margin-bottom: 26px;
}

.ml26 {
  margin-left: 26px;
}

.mr26 {
  margin-right: 26px;
}


/*********************/
.m27 {
  margin: 27px;
}

.mx27 {
  margin-left: 27px;
  margin-right: 27px;
}

.my27 {
  margin-top: 27px;
  margin-bottom: 27px;
}

.mt27 {
  margin-top: 27px;
}

.mb27 {
  margin-bottom: 27px;
}

.ml27 {
  margin-left: 27px;
}

.mr27 {
  margin-right: 27px;
}


/*********************/
.m28 {
  margin: 28px;
}

.mx28 {
  margin-left: 28px;
  margin-right: 28px;
}

.my28 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.mt28 {
  margin-top: 28px;
}

.mb28 {
  margin-bottom: 28px;
}

.ml28 {
  margin-left: 28px;
}

.mr28 {
  margin-right: 28px;
}


/*********************/
.m29 {
  margin: 29px;
}

.mx29 {
  margin-left: 29px;
  margin-right: 29px;
}

.my29 {
  margin-top: 29px;
  margin-bottom: 29px;
}

.mt29 {
  margin-top: 29px;
}

.mb29 {
  margin-bottom: 29px;
}

.ml29 {
  margin-left: 29px;
}

.mr29 {
  margin-right: 29px;
}


/*********************/
.m30 {
  margin: 30px;
}

.mx30 {
  margin-left: 30px;
  margin-right: 30px;
}

.my30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.ml30 {
  margin-left: 30px;
}

.mr30 {
  margin-right: 30px;
}


/*********************/
.m31 {
  margin: 31px;
}

.mx31 {
  margin-left: 31px;
  margin-right: 31px;
}

.my31 {
  margin-top: 31px;
  margin-bottom: 31px;
}

.mt31 {
  margin-top: 31px;
}

.mb31 {
  margin-bottom: 31px;
}

.ml31 {
  margin-left: 31px;
}

.mr31 {
  margin-right: 31px;
}


/*********************/
.m32 {
  margin: 32px;
}

.mx32 {
  margin-left: 32px;
  margin-right: 32px;
}

.my32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mt32 {
  margin-top: 32px;
}

.mb32 {
  margin-bottom: 32px;
}

.ml32 {
  margin-left: 32px;
}

.mr32 {
  margin-right: 32px;
}


/*********************/
.m33 {
  margin: 33px;
}

.mx33 {
  margin-left: 33px;
  margin-right: 33px;
}

.my33 {
  margin-top: 33px;
  margin-bottom: 33px;
}

.mt33 {
  margin-top: 33px;
}

.mb33 {
  margin-bottom: 33px;
}

.ml33 {
  margin-left: 33px;
}

.mr33 {
  margin-right: 33px;
}


/*********************/
.m34 {
  margin: 34px;
}

.mx34 {
  margin-left: 34px;
  margin-right: 34px;
}

.my34 {
  margin-top: 34px;
  margin-bottom: 34px;
}

.mt34 {
  margin-top: 34px;
}

.mb34 {
  margin-bottom: 34px;
}

.ml34 {
  margin-left: 34px;
}

.mr34 {
  margin-right: 34px;
}


/*********************/
.m35 {
  margin: 35px;
}

.mx35 {
  margin-left: 35px;
  margin-right: 35px;
}

.my35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.mt35 {
  margin-top: 35px;
}

.mb35 {
  margin-bottom: 35px;
}

.ml35 {
  margin-left: 35px;
}

.mr35 {
  margin-right: 35px;
}


/*********************/
.m36 {
  margin: 36px;
}

.mx36 {
  margin-left: 36px;
  margin-right: 36px;
}

.my36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.mt36 {
  margin-top: 36px;
}

.mb36 {
  margin-bottom: 36px;
}

.ml36 {
  margin-left: 36px;
}

.mr36 {
  margin-right: 36px;
}


/*********************/
.m37 {
  margin: 37px;
}

.mx37 {
  margin-left: 37px;
  margin-right: 37px;
}

.my37 {
  margin-top: 37px;
  margin-bottom: 37px;
}

.mt37 {
  margin-top: 37px;
}

.mb37 {
  margin-bottom: 37px;
}

.ml37 {
  margin-left: 37px;
}

.mr37 {
  margin-right: 37px;
}


/*********************/
.m38 {
  margin: 38px;
}

.mx38 {
  margin-left: 38px;
  margin-right: 38px;
}

.my38 {
  margin-top: 38px;
  margin-bottom: 38px;
}

.mt38 {
  margin-top: 38px;
}

.mb38 {
  margin-bottom: 38px;
}

.ml38 {
  margin-left: 38px;
}

.mr38 {
  margin-right: 38px;
}


/*********************/
.m39 {
  margin: 39px;
}

.mx39 {
  margin-left: 39px;
  margin-right: 39px;
}

.my39 {
  margin-top: 39px;
  margin-bottom: 39px;
}

.mt39 {
  margin-top: 39px;
}

.mb39 {
  margin-bottom: 39px;
}

.ml39 {
  margin-left: 39px;
}

.mr39 {
  margin-right: 39px;
}


/*********************/
.m40 {
  margin: 40px;
}

.mx40 {
  margin-left: 40px;
  margin-right: 40px;
}

.my40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.ml40 {
  margin-left: 40px;
}

.mr40 {
  margin-right: 40px;
}


/*********************/
.m41 {
  margin: 41px;
}

.mx41 {
  margin-left: 41px;
  margin-right: 41px;
}

.my41 {
  margin-top: 41px;
  margin-bottom: 41px;
}

.mt41 {
  margin-top: 41px;
}

.mb41 {
  margin-bottom: 41px;
}

.ml41 {
  margin-left: 41px;
}

.mr41 {
  margin-right: 41px;
}


/*********************/
.m42 {
  margin: 42px;
}

.mx42 {
  margin-left: 42px;
  margin-right: 42px;
}

.my42 {
  margin-top: 42px;
  margin-bottom: 42px;
}

.mt42 {
  margin-top: 42px;
}

.mb42 {
  margin-bottom: 42px;
}

.ml42 {
  margin-left: 42px;
}

.mr42 {
  margin-right: 42px;
}


/*********************/
.m43 {
  margin: 43px;
}

.mx43 {
  margin-left: 43px;
  margin-right: 43px;
}

.my43 {
  margin-top: 43px;
  margin-bottom: 43px;
}

.mt43 {
  margin-top: 43px;
}

.mb43 {
  margin-bottom: 43px;
}

.ml43 {
  margin-left: 43px;
}

.mr43 {
  margin-right: 43px;
}


/*********************/
.m44 {
  margin: 44px;
}

.mx44 {
  margin-left: 44px;
  margin-right: 44px;
}

.my44 {
  margin-top: 44px;
  margin-bottom: 44px;
}

.mt44 {
  margin-top: 44px;
}

.mb44 {
  margin-bottom: 44px;
}

.ml44 {
  margin-left: 44px;
}

.mr44 {
  margin-right: 44px;
}


/*********************/
.m45 {
  margin: 45px;
}

.mx45 {
  margin-left: 45px;
  margin-right: 45px;
}

.my45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.mt45 {
  margin-top: 45px;
}

.mb45 {
  margin-bottom: 45px;
}

.ml45 {
  margin-left: 45px;
}

.mr45 {
  margin-right: 45px;
}


/*********************/
.m46 {
  margin: 46px;
}

.mx46 {
  margin-left: 46px;
  margin-right: 46px;
}

.my46 {
  margin-top: 46px;
  margin-bottom: 46px;
}

.mt46 {
  margin-top: 46px;
}

.mb46 {
  margin-bottom: 46px;
}

.ml46 {
  margin-left: 46px;
}

.mr46 {
  margin-right: 46px;
}


/*********************/
.m47 {
  margin: 47px;
}

.mx47 {
  margin-left: 47px;
  margin-right: 47px;
}

.my47 {
  margin-top: 47px;
  margin-bottom: 47px;
}

.mt47 {
  margin-top: 47px;
}

.mb47 {
  margin-bottom: 47px;
}

.ml47 {
  margin-left: 47px;
}

.mr47 {
  margin-right: 47px;
}


/*********************/
.m48 {
  margin: 48px;
}

.mx48 {
  margin-left: 48px;
  margin-right: 48px;
}

.my48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.mt48 {
  margin-top: 48px;
}

.mb48 {
  margin-bottom: 48px;
}

.ml48 {
  margin-left: 48px;
}

.mr48 {
  margin-right: 48px;
}


/*********************/
.m49 {
  margin: 49px;
}

.mx49 {
  margin-left: 49px;
  margin-right: 49px;
}

.my49 {
  margin-top: 49px;
  margin-bottom: 49px;
}

.mt49 {
  margin-top: 49px;
}

.mb49 {
  margin-bottom: 49px;
}

.ml49 {
  margin-left: 49px;
}

.mr49 {
  margin-right: 49px;
}


/*********************/
.m50 {
  margin: 50px;
}

.mx50 {
  margin-left: 50px;
  margin-right: 50px;
}

.my50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml50 {
  margin-left: 50px;
}

.mr50 {
  margin-right: 50px;
}


/*********************/
.m51 {
  margin: 51px;
}

.mx51 {
  margin-left: 51px;
  margin-right: 51px;
}

.my51 {
  margin-top: 51px;
  margin-bottom: 51px;
}

.mt51 {
  margin-top: 51px;
}

.mb51 {
  margin-bottom: 51px;
}

.ml51 {
  margin-left: 51px;
}

.mr51 {
  margin-right: 51px;
}


/*********************/
.m52 {
  margin: 52px;
}

.mx52 {
  margin-left: 52px;
  margin-right: 52px;
}

.my52 {
  margin-top: 52px;
  margin-bottom: 52px;
}

.mt52 {
  margin-top: 52px;
}

.mb52 {
  margin-bottom: 52px;
}

.ml52 {
  margin-left: 52px;
}

.mr52 {
  margin-right: 52px;
}


/*********************/
.m53 {
  margin: 53px;
}

.mx53 {
  margin-left: 53px;
  margin-right: 53px;
}

.my53 {
  margin-top: 53px;
  margin-bottom: 53px;
}

.mt53 {
  margin-top: 53px;
}

.mb53 {
  margin-bottom: 53px;
}

.ml53 {
  margin-left: 53px;
}

.mr53 {
  margin-right: 53px;
}


/*********************/
.m54 {
  margin: 54px;
}

.mx54 {
  margin-left: 54px;
  margin-right: 54px;
}

.my54 {
  margin-top: 54px;
  margin-bottom: 54px;
}

.mt54 {
  margin-top: 54px;
}

.mb54 {
  margin-bottom: 54px;
}

.ml54 {
  margin-left: 54px;
}

.mr54 {
  margin-right: 54px;
}


/*********************/
.m55 {
  margin: 55px;
}

.mx55 {
  margin-left: 55px;
  margin-right: 55px;
}

.my55 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.mt55 {
  margin-top: 55px;
}

.mb55 {
  margin-bottom: 55px;
}

.ml55 {
  margin-left: 55px;
}

.mr55 {
  margin-right: 55px;
}


/*********************/
.m56 {
  margin: 56px;
}

.mx56 {
  margin-left: 56px;
  margin-right: 56px;
}

.my56 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.mt56 {
  margin-top: 56px;
}

.mb56 {
  margin-bottom: 56px;
}

.ml56 {
  margin-left: 56px;
}

.mr56 {
  margin-right: 56px;
}


/*********************/
.m57 {
  margin: 57px;
}

.mx57 {
  margin-left: 57px;
  margin-right: 57px;
}

.my57 {
  margin-top: 57px;
  margin-bottom: 57px;
}

.mt57 {
  margin-top: 57px;
}

.mb57 {
  margin-bottom: 57px;
}

.ml57 {
  margin-left: 57px;
}

.mr57 {
  margin-right: 57px;
}


/*********************/
.m58 {
  margin: 58px;
}

.mx58 {
  margin-left: 58px;
  margin-right: 58px;
}

.my58 {
  margin-top: 58px;
  margin-bottom: 58px;
}

.mt58 {
  margin-top: 58px;
}

.mb58 {
  margin-bottom: 58px;
}

.ml58 {
  margin-left: 58px;
}

.mr58 {
  margin-right: 58px;
}


/*********************/
.m59 {
  margin: 59px;
}

.mx59 {
  margin-left: 59px;
  margin-right: 59px;
}

.my59 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.mt59 {
  margin-top: 59px;
}

.mb59 {
  margin-bottom: 59px;
}

.ml59 {
  margin-left: 59px;
}

.mr59 {
  margin-right: 59px;
}


/*********************/
.m60 {
  margin: 60px;
}

.mx60 {
  margin-left: 60px;
  margin-right: 60px;
}

.my60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mt60 {
  margin-top: 60px;
}

.mb60 {
  margin-bottom: 60px;
}

.ml60 {
  margin-left: 60px;
}

.mr60 {
  margin-right: 60px;
}


/*********************/
.m61 {
  margin: 61px;
}

.mx61 {
  margin-left: 61px;
  margin-right: 61px;
}

.my61 {
  margin-top: 61px;
  margin-bottom: 61px;
}

.mt61 {
  margin-top: 61px;
}

.mb61 {
  margin-bottom: 61px;
}

.ml61 {
  margin-left: 61px;
}

.mr61 {
  margin-right: 61px;
}


/*********************/
.m62 {
  margin: 62px;
}

.mx62 {
  margin-left: 62px;
  margin-right: 62px;
}

.my62 {
  margin-top: 62px;
  margin-bottom: 62px;
}

.mt62 {
  margin-top: 62px;
}

.mb62 {
  margin-bottom: 62px;
}

.ml62 {
  margin-left: 62px;
}

.mr62 {
  margin-right: 62px;
}


/*********************/
.m63 {
  margin: 63px;
}

.mx63 {
  margin-left: 63px;
  margin-right: 63px;
}

.my63 {
  margin-top: 63px;
  margin-bottom: 63px;
}

.mt63 {
  margin-top: 63px;
}

.mb63 {
  margin-bottom: 63px;
}

.ml63 {
  margin-left: 63px;
}

.mr63 {
  margin-right: 63px;
}


/*********************/
.m64 {
  margin: 64px;
}

.mx64 {
  margin-left: 64px;
  margin-right: 64px;
}

.my64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mt64 {
  margin-top: 64px;
}

.mb64 {
  margin-bottom: 64px;
}

.ml64 {
  margin-left: 64px;
}

.mr64 {
  margin-right: 64px;
}


/*********************/
.m65 {
  margin: 65px;
}

.mx65 {
  margin-left: 65px;
  margin-right: 65px;
}

.my65 {
  margin-top: 65px;
  margin-bottom: 65px;
}

.mt65 {
  margin-top: 65px;
}

.mb65 {
  margin-bottom: 65px;
}

.ml65 {
  margin-left: 65px;
}

.mr65 {
  margin-right: 65px;
}


/*********************/
.m66 {
  margin: 66px;
}

.mx66 {
  margin-left: 66px;
  margin-right: 66px;
}

.my66 {
  margin-top: 66px;
  margin-bottom: 66px;
}

.mt66 {
  margin-top: 66px;
}

.mb66 {
  margin-bottom: 66px;
}

.ml66 {
  margin-left: 66px;
}

.mr66 {
  margin-right: 66px;
}


/*********************/
.m67 {
  margin: 67px;
}

.mx67 {
  margin-left: 67px;
  margin-right: 67px;
}

.my67 {
  margin-top: 67px;
  margin-bottom: 67px;
}

.mt67 {
  margin-top: 67px;
}

.mb67 {
  margin-bottom: 67px;
}

.ml67 {
  margin-left: 67px;
}

.mr67 {
  margin-right: 67px;
}


/*********************/
.m68 {
  margin: 68px;
}

.mx68 {
  margin-left: 68px;
  margin-right: 68px;
}

.my68 {
  margin-top: 68px;
  margin-bottom: 68px;
}

.mt68 {
  margin-top: 68px;
}

.mb68 {
  margin-bottom: 68px;
}

.ml68 {
  margin-left: 68px;
}

.mr68 {
  margin-right: 68px;
}


/*********************/
.m69 {
  margin: 69px;
}

.mx69 {
  margin-left: 69px;
  margin-right: 69px;
}

.my69 {
  margin-top: 69px;
  margin-bottom: 69px;
}

.mt69 {
  margin-top: 69px;
}

.mb69 {
  margin-bottom: 69px;
}

.ml69 {
  margin-left: 69px;
}

.mr69 {
  margin-right: 69px;
}


/*********************/
.m70 {
  margin: 70px;
}

.mx70 {
  margin-left: 70px;
  margin-right: 70px;
}

.my70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mt70 {
  margin-top: 70px;
}

.mb70 {
  margin-bottom: 70px;
}

.ml70 {
  margin-left: 70px;
}

.mr70 {
  margin-right: 70px;
}


/*********************/
.m71 {
  margin: 71px;
}

.mx71 {
  margin-left: 71px;
  margin-right: 71px;
}

.my71 {
  margin-top: 71px;
  margin-bottom: 71px;
}

.mt71 {
  margin-top: 71px;
}

.mb71 {
  margin-bottom: 71px;
}

.ml71 {
  margin-left: 71px;
}

.mr71 {
  margin-right: 71px;
}


/*********************/
.m72 {
  margin: 72px;
}

.mx72 {
  margin-left: 72px;
  margin-right: 72px;
}

.my72 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.mt72 {
  margin-top: 72px;
}

.mb72 {
  margin-bottom: 72px;
}

.ml72 {
  margin-left: 72px;
}

.mr72 {
  margin-right: 72px;
}


/*********************/
.m73 {
  margin: 73px;
}

.mx73 {
  margin-left: 73px;
  margin-right: 73px;
}

.my73 {
  margin-top: 73px;
  margin-bottom: 73px;
}

.mt73 {
  margin-top: 73px;
}

.mb73 {
  margin-bottom: 73px;
}

.ml73 {
  margin-left: 73px;
}

.mr73 {
  margin-right: 73px;
}


/*********************/
.m74 {
  margin: 74px;
}

.mx74 {
  margin-left: 74px;
  margin-right: 74px;
}

.my74 {
  margin-top: 74px;
  margin-bottom: 74px;
}

.mt74 {
  margin-top: 74px;
}

.mb74 {
  margin-bottom: 74px;
}

.ml74 {
  margin-left: 74px;
}

.mr74 {
  margin-right: 74px;
}


/*********************/
.m75 {
  margin: 75px;
}

.mx75 {
  margin-left: 75px;
  margin-right: 75px;
}

.my75 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.mt75 {
  margin-top: 75px;
}

.mb75 {
  margin-bottom: 75px;
}

.ml75 {
  margin-left: 75px;
}

.mr75 {
  margin-right: 75px;
}


/*********************/
.m76 {
  margin: 76px;
}

.mx76 {
  margin-left: 76px;
  margin-right: 76px;
}

.my76 {
  margin-top: 76px;
  margin-bottom: 76px;
}

.mt76 {
  margin-top: 76px;
}

.mb76 {
  margin-bottom: 76px;
}

.ml76 {
  margin-left: 76px;
}

.mr76 {
  margin-right: 76px;
}


/*********************/
.m77 {
  margin: 77px;
}

.mx77 {
  margin-left: 77px;
  margin-right: 77px;
}

.my77 {
  margin-top: 77px;
  margin-bottom: 77px;
}

.mt77 {
  margin-top: 77px;
}

.mb77 {
  margin-bottom: 77px;
}

.ml77 {
  margin-left: 77px;
}

.mr77 {
  margin-right: 77px;
}


/*********************/
.m78 {
  margin: 78px;
}

.mx78 {
  margin-left: 78px;
  margin-right: 78px;
}

.my78 {
  margin-top: 78px;
  margin-bottom: 78px;
}

.mt78 {
  margin-top: 78px;
}

.mb78 {
  margin-bottom: 78px;
}

.ml78 {
  margin-left: 78px;
}

.mr78 {
  margin-right: 78px;
}


/*********************/
.m79 {
  margin: 79px;
}

.mx79 {
  margin-left: 79px;
  margin-right: 79px;
}

.my79 {
  margin-top: 79px;
  margin-bottom: 79px;
}

.mt79 {
  margin-top: 79px;
}

.mb79 {
  margin-bottom: 79px;
}

.ml79 {
  margin-left: 79px;
}

.mr79 {
  margin-right: 79px;
}


/*********************/
.m80 {
  margin: 80px;
}

.mx80 {
  margin-left: 80px;
  margin-right: 80px;
}

.my80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mt80 {
  margin-top: 80px;
}

.mb80 {
  margin-bottom: 80px;
}

.ml80 {
  margin-left: 80px;
}

.mr80 {
  margin-right: 80px;
}


/*********************/
.m81 {
  margin: 81px;
}

.mx81 {
  margin-left: 81px;
  margin-right: 81px;
}

.my81 {
  margin-top: 81px;
  margin-bottom: 81px;
}

.mt81 {
  margin-top: 81px;
}

.mb81 {
  margin-bottom: 81px;
}

.ml81 {
  margin-left: 81px;
}

.mr81 {
  margin-right: 81px;
}


/*********************/
.m82 {
  margin: 82px;
}

.mx82 {
  margin-left: 82px;
  margin-right: 82px;
}

.my82 {
  margin-top: 82px;
  margin-bottom: 82px;
}

.mt82 {
  margin-top: 82px;
}

.mb82 {
  margin-bottom: 82px;
}

.ml82 {
  margin-left: 82px;
}

.mr82 {
  margin-right: 82px;
}


/*********************/
.m83 {
  margin: 83px;
}

.mx83 {
  margin-left: 83px;
  margin-right: 83px;
}

.my83 {
  margin-top: 83px;
  margin-bottom: 83px;
}

.mt83 {
  margin-top: 83px;
}

.mb83 {
  margin-bottom: 83px;
}

.ml83 {
  margin-left: 83px;
}

.mr83 {
  margin-right: 83px;
}


/*********************/
.m84 {
  margin: 84px;
}

.mx84 {
  margin-left: 84px;
  margin-right: 84px;
}

.my84 {
  margin-top: 84px;
  margin-bottom: 84px;
}

.mt84 {
  margin-top: 84px;
}

.mb84 {
  margin-bottom: 84px;
}

.ml84 {
  margin-left: 84px;
}

.mr84 {
  margin-right: 84px;
}


/*********************/
.m85 {
  margin: 85px;
}

.mx85 {
  margin-left: 85px;
  margin-right: 85px;
}

.my85 {
  margin-top: 85px;
  margin-bottom: 85px;
}

.mt85 {
  margin-top: 85px;
}

.mb85 {
  margin-bottom: 85px;
}

.ml85 {
  margin-left: 85px;
}

.mr85 {
  margin-right: 85px;
}


/*********************/
.m86 {
  margin: 86px;
}

.mx86 {
  margin-left: 86px;
  margin-right: 86px;
}

.my86 {
  margin-top: 86px;
  margin-bottom: 86px;
}

.mt86 {
  margin-top: 86px;
}

.mb86 {
  margin-bottom: 86px;
}

.ml86 {
  margin-left: 86px;
}

.mr86 {
  margin-right: 86px;
}


/*********************/
.m87 {
  margin: 87px;
}

.mx87 {
  margin-left: 87px;
  margin-right: 87px;
}

.my87 {
  margin-top: 87px;
  margin-bottom: 87px;
}

.mt87 {
  margin-top: 87px;
}

.mb87 {
  margin-bottom: 87px;
}

.ml87 {
  margin-left: 87px;
}

.mr87 {
  margin-right: 87px;
}


/*********************/
.m88 {
  margin: 88px;
}

.mx88 {
  margin-left: 88px;
  margin-right: 88px;
}

.my88 {
  margin-top: 88px;
  margin-bottom: 88px;
}

.mt88 {
  margin-top: 88px;
}

.mb88 {
  margin-bottom: 88px;
}

.ml88 {
  margin-left: 88px;
}

.mr88 {
  margin-right: 88px;
}


/*********************/
.m89 {
  margin: 89px;
}

.mx89 {
  margin-left: 89px;
  margin-right: 89px;
}

.my89 {
  margin-top: 89px;
  margin-bottom: 89px;
}

.mt89 {
  margin-top: 89px;
}

.mb89 {
  margin-bottom: 89px;
}

.ml89 {
  margin-left: 89px;
}

.mr89 {
  margin-right: 89px;
}


/*********************/
.m90 {
  margin: 90px;
}

.mx90 {
  margin-left: 90px;
  margin-right: 90px;
}

.my90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.mt90 {
  margin-top: 90px;
}

.mb90 {
  margin-bottom: 90px;
}

.ml90 {
  margin-left: 90px;
}

.mr90 {
  margin-right: 90px;
}


/*********************/
.m91 {
  margin: 91px;
}

.mx91 {
  margin-left: 91px;
  margin-right: 91px;
}

.my91 {
  margin-top: 91px;
  margin-bottom: 91px;
}

.mt91 {
  margin-top: 91px;
}

.mb91 {
  margin-bottom: 91px;
}

.ml91 {
  margin-left: 91px;
}

.mr91 {
  margin-right: 91px;
}


/*********************/
.m92 {
  margin: 92px;
}

.mx92 {
  margin-left: 92px;
  margin-right: 92px;
}

.my92 {
  margin-top: 92px;
  margin-bottom: 92px;
}

.mt92 {
  margin-top: 92px;
}

.mb92 {
  margin-bottom: 92px;
}

.ml92 {
  margin-left: 92px;
}

.mr92 {
  margin-right: 92px;
}


/*********************/
.m93 {
  margin: 93px;
}

.mx93 {
  margin-left: 93px;
  margin-right: 93px;
}

.my93 {
  margin-top: 93px;
  margin-bottom: 93px;
}

.mt93 {
  margin-top: 93px;
}

.mb93 {
  margin-bottom: 93px;
}

.ml93 {
  margin-left: 93px;
}

.mr93 {
  margin-right: 93px;
}


/*********************/
.m94 {
  margin: 94px;
}

.mx94 {
  margin-left: 94px;
  margin-right: 94px;
}

.my94 {
  margin-top: 94px;
  margin-bottom: 94px;
}

.mt94 {
  margin-top: 94px;
}

.mb94 {
  margin-bottom: 94px;
}

.ml94 {
  margin-left: 94px;
}

.mr94 {
  margin-right: 94px;
}


/*********************/
.m95 {
  margin: 95px;
}

.mx95 {
  margin-left: 95px;
  margin-right: 95px;
}

.my95 {
  margin-top: 95px;
  margin-bottom: 95px;
}

.mt95 {
  margin-top: 95px;
}

.mb95 {
  margin-bottom: 95px;
}

.ml95 {
  margin-left: 95px;
}

.mr95 {
  margin-right: 95px;
}


/*********************/
.m96 {
  margin: 96px;
}

.mx96 {
  margin-left: 96px;
  margin-right: 96px;
}

.my96 {
  margin-top: 96px;
  margin-bottom: 96px;
}

.mt96 {
  margin-top: 96px;
}

.mb96 {
  margin-bottom: 96px;
}

.ml96 {
  margin-left: 96px;
}

.mr96 {
  margin-right: 96px;
}


/*********************/
.m97 {
  margin: 97px;
}

.mx97 {
  margin-left: 97px;
  margin-right: 97px;
}

.my97 {
  margin-top: 97px;
  margin-bottom: 97px;
}

.mt97 {
  margin-top: 97px;
}

.mb97 {
  margin-bottom: 97px;
}

.ml97 {
  margin-left: 97px;
}

.mr97 {
  margin-right: 97px;
}


/*********************/
.m98 {
  margin: 98px;
}

.mx98 {
  margin-left: 98px;
  margin-right: 98px;
}

.my98 {
  margin-top: 98px;
  margin-bottom: 98px;
}

.mt98 {
  margin-top: 98px;
}

.mb98 {
  margin-bottom: 98px;
}

.ml98 {
  margin-left: 98px;
}

.mr98 {
  margin-right: 98px;
}


/*********************/
.m99 {
  margin: 99px;
}

.mx99 {
  margin-left: 99px;
  margin-right: 99px;
}

.my99 {
  margin-top: 99px;
  margin-bottom: 99px;
}

.mt99 {
  margin-top: 99px;
}

.mb99 {
  margin-bottom: 99px;
}

.ml99 {
  margin-left: 99px;
}

.mr99 {
  margin-right: 99px;
}


/*********************/
.m100 {
  margin: 100px;
}

.mx100 {
  margin-left: 100px;
  margin-right: 100px;
}

.my100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mt100 {
  margin-top: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.ml100 {
  margin-left: 100px;
}

.mr100 {
  margin-right: 100px;
}
